#main {
  font-family: sans-serif;
}
 
.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 200px;
  margin: 20px;
  position: relative;
  text-align: center;
  width: 300px;
}
 
.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50%;
  margin: -17px 0 0;
  width: 100%;
}
 
#box4 {
  background-color: #fff;
  background-image: -moz-radial-gradient(50% 40%, transparent 20%, rgba(255,255,255,0.3) 100%), -moz-linear-gradient(left, #f00 0, #f00 14.2%, #ff8000 14.2%, #ff8000 28.4%, #ff0 28.4%, #ff0 42.6%, #0f0 42.6%, #0f0 56.8%, #0ff 56.8%, #0ff 71%, #00f 71%, #00f 85.2%, #f0f 85.2%);
  background-image: -o-radial-gradient(50% 40%, transparent 20%, rgba(255,255,255,0.3) 100%), -o-linear-gradient(left, #f00 0, #f00 14.2%, #ff8000 14.2%, #ff8000 28.4%, #ff0 28.4%, #ff0 42.6%, #0f0 42.6%, #0f0 56.8%, #0ff 56.8%, #0ff 71%, #00f 71%, #00f 85.2%, #f0f 85.2%);
  background-image: -ms-radial-gradient(50% 40%, transparent 20%, rgba(255,255,255,0.3) 100%), -ms-linear-gradient(left, #f00 0, #f00 14.2%, #ff8000 14.2%, #ff8000 28.4%, #ff0 28.4%, #ff0 42.6%, #0f0 42.6%, #0f0 56.8%, #0ff 56.8%, #0ff 71%, #00f 71%, #00f 85.2%, #f0f 85.2%);
  background-image: radial-gradient(50% 40%, transparent 20%, rgba(255,255,255,0.3) 100%), linear-gradient(to right, #f00 0, #f00 14.2%, #ff8000 14.2%, #ff8000 28.4%, #ff0 28.4%, #ff0 42.6%, #0f0 42.6%, #0f0 56.8%, #0ff 56.8%, #0ff 71%, #00f 71%, #00f 85.2%, #f0f 85.2%);
  background-image: -webkit-radial-gradient(50% 40%, transparent 20%, rgba(255,255,255,0.3) 100%), -webkit-linear-gradient(left, #f00 0, #f00 14.2%, #ff8000 14.2%, #ff8000 28.4%, #ff0 28.4%, #ff0 42.6%, #0f0 42.6%, #0f0 56.8%, #0ff 56.8%, #0ff 71%, #00f 71%, #00f 85.2%, #f0f 85.2%);
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: 100%;
}
 
#box5 {
  background-color: #ffc;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0.4) 100%), -moz-linear-gradient(top, #ffc 0, #ffc 50%, #cff 50%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.4) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0.4) 100%), -o-linear-gradient(top, #ffc 0, #ffc 50%, #cff 50%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0.4) 100%), -ms-linear-gradient(top, #ffc 0, #ffc 50%, #cff 50%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0.4) 100%), linear-gradient(to bottom, #ffc 0, #ffc 50%, #cff 50%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0.4) 100%), -webkit-linear-gradient(top, #ffc 0, #ffc 50%, #cff 50%);
  -moz-background-size: 100%, 20px;
  background-size: 100%, 20px;
  -webkit-background-size: 100%, 20px;
}
 
#box6 {
  background-color: #c99;
  background-image: -moz-linear-gradient(rgba(0,0,0,0.3) 0, transparent 60%);
  background-image: -o-linear-gradient(rgba(0,0,0,0.3) 0, transparent 60%);
  background-image: -ms-linear-gradient(rgba(0,0,0,0.3) 0, transparent 60%);
  background-image: linear-gradient(rgba(0,0,0,0.3) 0, transparent 60%);
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.3) 0, transparent 60%);
  border: 7px solid #000;
}
 
#box7 {
  background-color: #000;
  background-image: -moz-linear-gradient(left top, #f00 25%, transparent 25%, transparent 100%), -moz-linear-gradient(right top, #f00 25%, transparent 25%, transparent 100%), -moz-linear-gradient(left bottom, #f00 25%, transparent 25%, transparent 100%), -moz-linear-gradient(right bottom, #f00 25%, transparent 25%, transparent 100%);
  background-image: -o-linear-gradient(left top, #f00 25%, transparent 25%, transparent 100%), -o-linear-gradient(right top, #f00 25%, transparent 25%, transparent 100%), -o-linear-gradient(left bottom, #f00 25%, transparent 25%, transparent 100%), -o-linear-gradient(right bottom, #f00 25%, transparent 25%, transparent 100%);
  background-image: -ms-linear-gradient(left top, #f00 25%, transparent 25%, transparent 100%), -ms-linear-gradient(right top, #f00 25%, transparent 25%, transparent 100%), -ms-linear-gradient(left bottom, #f00 25%, transparent 25%, transparent 100%), -ms-linear-gradient(right bottom, #f00 25%, transparent 25%, transparent 100%);
  background-image: linear-gradient(to right bottom, #f00 25%, transparent 25%, transparent 100%), linear-gradient(to left bottom, #f00 25%, transparent 25%, transparent 100%), linear-gradient(to right top, #f00 25%, transparent 25%, transparent 100%), linear-gradient(to left top, #f00 25%, transparent 25%, transparent 100%);
  background-image: -webkit-linear-gradient(left top, #f00 25%, transparent 25%, transparent 100%), -webkit-linear-gradient(right top, #f00 25%, transparent 25%, transparent 100%), -webkit-linear-gradient(left bottom, #f00 25%, transparent 25%, transparent 100%), -webkit-linear-gradient(right bottom, #f00 25%, transparent 25%, transparent 100%);
  -moz-background-size: 20px;
  background-size: 20px;
  -webkit-background-size: 20px;
}
 
#box7 .title {
  color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
