#main {
  font-family: sans-serif;
}
 
/* chat */
.chat {
  font-family: sans-serif;
  padding: 20px;
}
 
/* balloon */
.balloon {
  margin: 20px auto;
  width: 300px;
}
 
/* default */
.balloon-default {
  background: #efefef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  padding: 10px;
  position: relative;
}
 
.balloon-default::after {
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-top: solid 10px #efefef;
  bottom: -10px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
 
/* multi */
.balloon-multi {
  background: #fff;
  border: solid 1px #6cf;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  padding: 10px;
  position: relative;
}
 
.balloon-multi::before,
.balloon-multi::after {
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-top: solid 10px #6cf;
  bottom: -10px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
 
.balloon-multi::after {
  border-top-color: red;
  bottom: -8px;
}
 
/* gradient */
.balloon-gradient {
  background-color: #0c0;
  background: -webkit-linear-gradient(#6f3, #0c0 95%);
  background: -moz-linear-gradient(#6f3, #0c0 95%);
  background: -o-linear-gradient(#6f3, #0c0 95%);
  background: -ms-linear-gradient(#6f3, #0c0 95%);
  background: linear-gradient(#6f3, #0c0 95%);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  position: relative;
}
 
.balloon-gradient::after {
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-top: solid 10px #0c0;
  bottom: -10px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
 
/* default left */
.balloon-default-left {
  background: #efefef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  padding: 10px;
  position: relative;
}
 
.balloon-default-left::after {
  border-bottom: solid 8px transparent;
  border-right: solid 12px #efefef;
  border-top: solid 8px transparent;
  content: "";
  display: block;
  height: 0;
  left: -12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 0;
}
 
/* default right */
.balloon-default-right {
  background: #efefef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  padding: 10px;
  position: relative;
}
 
.balloon-default-right::after {
  border-bottom: solid 8px transparent;
  border-left: solid 12px #efefef;
  border-top: solid 8px transparent;
  content: "";
  display: block;
  height: 0;
  margin-top: -6px;
  position: absolute;
  right: -12px;
  top: 50%;
  width: 0;
}
 
/* default top */
.balloon-default-top {
  background: #efefef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  padding: 10px;
  position: relative;
}
 
.balloon-default-top::after {
  border-bottom: solid 10px #efefef;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  top: -10px;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
 
/* fontelico */
[class*="fontelico-"]:before {
  color: #fc0;
  font-family: 'fontelico', sans-serif;
}
 
