#main {
  font-family: sans-serif;
}
 
body {
  background: #f2f2ff;
}
 
#main {
  padding: 20px;
}
 
/* tag common style */
.tag {
  display: inline-block;
  margin: 5px;
  overflow: visible;
  position: relative;
}
 
.tag .tag-main {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-family: sansita-one, sans-serif;
  font-size: 1.2em;
  height: 1.5em;
  line-height: 1.5;
  margin: 0 0 0 0.7em;
  padding: 0 0.8em;
}
 
.tag .tag-main::before {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  content: '';
  display: inline-block;
  height: 1.5em;
  left: 0.3em;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1.5em;
  z-index: -1;
}
 
/* tags */
.tag-1 .tag-main,
.tag-1 .tag-main::before {
  background: #ff3;
  color: #333;
}
 
.tag-2 .tag-main,
.tag-2 .tag-main::before {
  background: #6f0;
  color: #fff;
}
 
.tag-3 .tag-main,
.tag-3 .tag-main::before {
  background: #6cf;
  color: #fff;
}
 
.tag-4 .tag-main,
.tag-4 .tag-main::before {
  background: #f3c;
  color: #fff;
}
 
.tag-5 .tag-main,
.tag-5 .tag-main::before {
  background: #f93;
  color: #fff;
}
 
.tag-6 .tag-main,
.tag-6 .tag-main::before {
  background: #c96;
  color: #fff;
}
 
.tag-7 .tag-main,
.tag-7 .tag-main::before {
  background: #9cf;
  color: #fff;
}
 
.tag-8 .tag-main,
.tag-8 .tag-main::before {
  background: #99f;
  color: #fff;
}
 
.tag-9 .tag-main,
.tag-9 .tag-main::before {
  background: #9c9;
  color: #fff;
}
 
.tag-10 .tag-main,
.tag-10 .tag-main::before {
  background: #c6f;
  color: #fff;
}
 
