#main {
  font-family: sans-serif;
}
 
/* breadcrumb */
.breadcrumb {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  font-family: sans-serif;
  padding: 20px;
}
 
/* item */
.breadcrumb-item {
  margin: 0 1.3em 0 0;
  position: relative;
}
 
.breadcrumb-item a {
  color: #333;
  display: inline-block;
  height: 2em;
  line-height: 2;
  padding: 0 1em;
  text-decoration: none;
}
 
/* trignal */
.breadcrumb-item a::before {
  background: #f3f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  content: '>';
  display: block;
  height: 1.3em;
  line-height: 1.3;
  margin: -0.7em 0 0;
  position: absolute;
  right: -1em;
  text-align: center;
  top: 50%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  width: 1.3em;
}
 
/* hover style */
.breadcrumb-item a:hover {
  text-decoration: underline;
}
 
