#main {
  font-family: sans-serif;
}
 
body {
  background: #eee;
}
 
/* navigation bar */
#navBar {
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 1.2em;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}
 
/* main contents */
#mainContents {
  background: #eee;
  padding: 40px 0 0;
  min-height: 400px;
}
 
/* list common styles */
.list {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  margin: 30px auto;
  width: 96%;
}
 
/* list item */
.list-item {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 39px;
  min-height: 40px;
  overflow: hidden;
  padding: 0 8px;
}
 
.list-item:not(:last-child),
.list-wrap:not(:last-child) .list-item {
  border-bottom: 1px solid #ccc;
}
 
/* list arrow */
.list-arrow {
  padding-right: 24px;
  position: relative;
}
 
.list-arrow::after {
  content: '';
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  display: inline-block;
  height: 8px;
  margin: -4px 0 0;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}
 
/* list link */
.list-link {
  color: #333;
  display: block;
  text-decoration: none;
}
 
.list-link:hover {
  background: #efefef;
}
 
/* list main */
.list-main {
  float: left;
}
 
/* list image */
.list-image {
  color: #6cf;
  float: left;
  font-family: 'FontAwesome', sans-serif;
  margin: 0 8px 0 0;
  min-width: 40px;
  text-align: center;
}
 
/* go to top link */
.navToTop {
  right: 10px;
  position: fixed;
  bottom: 5px;
}
 
.navToTop a {
  color: #999;
  text-decoration: none;
}
 
.navToTop a::before {
  content: "";
  border-left: 2px solid #999;
  border-top: 2px solid #999;
  display: inline-block;
  height: 0.5em;
  margin: 0 0.5em 0 0;
  -webkit-transform: rotate(45deg) translateY(0.2em);
  -moz-transform: rotate(45deg) translateY(0.2em);
  -o-transform: rotate(45deg) translateY(0.2em);
  -ms-transform: rotate(45deg) translateY(0.2em);
  transform: rotate(45deg) translateY(0.2em);
  width: 0.5em;
}
 
/* for example */
.navi-bar {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
 
#mainContents {
  padding-top: 80px;
}
 
#navBar {
  top: 40px;
}
 
