#main {
  font-family: sans-serif;
}
 
/* line */
.line {
  margin: 20px 0;
}
 
/* line gradient */
.line1 {
  border: 0;
  background-color: #09f;
  background-image: -webkit-linear-gradient(left, #fff, #09f, #fff);
  background-image: -moz-linear-gradient(left, #fff, #09f, #fff);
  background-image: -o-linear-gradient(left, #fff, #09f, #fff);
  background-image: -ms-linear-gradient(left, #fff, #09f, #fff);
  background-image: linear-gradient(to right, #fff, #09f, #fff);
  height: 2px;
}
 
/* line double */
.line2 {
  background: #09f;
  border: 0;
  height: 2px;
}
 
.line2:before {
  background: #09f;
  content: '';
  display: block;
  height: 1px;
  position: relative;
  top: -2px;
  width: 100%;
}
 
/* line triple */
.line3 {
  background: #09f;
  border: 0;
  height: 1px;
  position: relative;
}
 
.line3:before,
.line3:after {
  background: #09f;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}
 
.line3:before {
  top: -2px;
}
 
.line3:after {
  top: 2px;
}
 
/* line heart */
.line4 {
  border: none;
  height: 1em;
}
 
.line4:before {
  color: #f69;
  content: '\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004\f004';
  display: block;
  font-family: 'FontAwesome';
  letter-spacing: 0.15em;
  text-align: center;
  width: 100%;
}
 
/* line diamond */
.line5 {
  border: none;
  height: 1em;
}
 
.line5:before {
  color: #090;
  content: '\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da\f0da';
  display: block;
  font-family: 'FontAwesome';
  letter-spacing: 0.15em;
  text-align: center;
  width: 100%;
}
 
/* line star */
.line6 {
  border: none;
  height: 1em;
}
 
.line6:before {
  color: #fc3;
  content: '\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005';
  display: block;
  font-family: 'FontAwesome';
  text-align: center;
  width: 100%;
}
 
/* line star gradient */
.line7 {
  border: none;
  height: 1em;
}
 
.line7:before {
  background-image: -webkit-linear-gradient(left, #33f, #f03);
  background-image: -moz-linear-gradient(left, #33f, #f03);
  background-image: -o-linear-gradient(left, #33f, #f03);
  background-image: -ms-linear-gradient(left, #33f, #f03);
  background-image: linear-gradient(to right, #33f, #f03);
  color: #fc3;
  content: '\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005';
  display: block;
  font-family: 'FontAwesome';
  text-align: center;
  width: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: inset 1px 1px 2px #000;
}
 
/* line star shadow */
.line8 {
  border: none;
  height: 1em;
}
 
.line8:before {
  color: #fff;
  content: '\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005';
  font-family: 'FontAwesome';
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 100%;
}
 
.line8:after {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(#fc3, #f90);
  background-image: -moz-linear-gradient(#fc3, #f90);
  background-image: -o-linear-gradient(#fc3, #f90);
  background-image: -ms-linear-gradient(#fc3, #f90);
  background-image: linear-gradient(#fc3, #f90);
  color: #fc3;
  content: '\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005';
  font-family: 'FontAwesome';
  position: absolute;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  text-fill-color: transparent;
  width: 100%;
}
 
/* line cut */
.line9 {
  border: 0;
  border-top: 1px dashed #000;
  text-align: center;
}
 
.line9:after {
  background: #fff;
  content: 'キリトリ線';
  display: inline-block;
  padding: 0 0.5em;
  position: relative;
  top: -0.7em;
}
 
