#main {
  font-family: sans-serif;
}
 
/* heading */
.heading {
  background: #221f20;
  color: #fdec52;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  text-align: center;
}
 
/* item */
.item {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  counter-increment: num;
  padding: 10px 0 0;
  position: relative;
  text-align: center;
  width: 100%;
}
 
.item:nth-child(1n) {
  background: #fdec52;
}
 
.item:nth-child(2n) {
  background: rgba(253,236,82,0.8);
}
 
.item:nth-child(3n) {
  background: rgba(253,236,82,0.6);
}
 
.item:nth-child(4n) {
  background: rgba(253,236,82,0.4);
}
 
.item:nth-child(5n) {
  background: rgba(253,236,82,0.3);
}
 
/* ranking icon */
.item::before {
  background: #fc3;
  -webkit-box-shadow: 0 0 4px rgba(128,128,128,0.4);
  box-shadow: 0 0 4px rgba(128,128,128,0.4);
  content: '';
  height: 1.5em;
  left: 1em;
  margin-top: -0.7em;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1.5em;
}
 
.item::after {
  background: #fc3;
  content: counter(num);
  font-family: Arial;
  font-style: Italic;
  font-weight: bold;
  height: 1.5em;
  left: 1em;
  line-height: 1.5;
  margin-top: -0.7em;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  top: 50%;
  width: 1.5em;
}
 
/* list contents */
.item .thumbnail {
  margin: 0 auto;
  overflow: hidden;
}
 
.item .picture {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 67px;
  width: 100px;
}
 
.item .name {
  font-size: 0.8em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
 
