#main {
  font-family: sans-serif;
}
 
#main {
  padding: 30px;
}
 
button {
  -webkit-appearance: none;
}
 
button {
  -webkit-appearance: none;
}
 
.button {
  -webkit-appearance: button;
}
 
.caret {
  -webkit-appearance: caret;
}
 
.caps-lock-indicator {
  -webkit-appearance: caps-lock-indicator;
}
 
.button-bevel {
  -webkit-appearance: button-bevel;
}
 
.checkbox {
  -webkit-appearance: checkbox;
}
 
.default-button {
  -webkit-appearance: default-button;
}
 
.listbox {
  -webkit-appearance: listbox;
}
 
.listitem {
  -webkit-appearance: listitem;
}
 
.media-fullscreen-button {
  -webkit-appearance: media-fullscreen-button;
}
 
.media-mute-button {
  -webkit-appearance: media-mute-button;
}
 
.media-play-button {
  -webkit-appearance: media-play-button;
}
 
.media-seek-back-button {
  -webkit-appearance: media-seek-back-button;
}
 
.media-seek-forward-button {
  -webkit-appearance: media-seek-forward-button;
}
 
.media-slider {
  -webkit-appearance: media-slider;
}
 
.media-sliderthumb {
  -webkit-appearance: media-sliderthumb;
}
 
.menulist {
  -webkit-appearance: menulist;
}
 
.menulist-button {
  -webkit-appearance: menulist-button;
}
 
.menulist-text {
  -webkit-appearance: menulist-text;
}
 
.menulist-textfield {
  -webkit-appearance: menulist-textfield;
}
 
.push-button {
  -webkit-appearance: push-button;
}
 
.radio {
  -webkit-appearance: radio;
}
 
.searchfield {
  -webkit-appearance: searchfield;
}
 
.searchfield-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
 
.searchfield-decoration {
  -webkit-appearance: searchfield-decoration;
}
 
.searchfield-results-button {
  -webkit-appearance: searchfield-results-button;
}
 
.searchfield-results-decoration {
  -webkit-appearance: searchfield-results-decoration;
}
 
.slider-horizontal {
  -webkit-appearance: slider-horizontal;
}
 
.slider-vertical {
  -webkit-appearance: slider-vertical;
}
 
.sliderthumb-horizontal {
  -webkit-appearance: sliderthumb-horizontal;
}
 
.sliderthumb-vertical {
  -webkit-appearance: sliderthumb-vertical;
}
 
.square-button {
  -webkit-appearance: square-button;
}
 
.textarea {
  -webkit-appearance: textarea;
}
 
.scrollbarbutton-down {
  -webkit-appearance: scrollbarbutton-down;
}
 
.scrollbarbutton-left {
  -webkit-appearance: scrollbarbutton-left;
}
 
.scrollbarbutton-right {
  -webkit-appearance: scrollbarbutton-right;
}
 
.scrollbarbutton-up {
  -webkit-appearance: scrollbarbutton-up;
}
 
.scrollbargripper-horizontal {
  -webkit-appearance: scrollbargripper-horizontal;
}
 
.scrollbargripper-vertical {
  -webkit-appearance: scrollbargripper-vertical;
}
 
.scrollbarthumb-horizontal {
  -webkit-appearance: scrollbarthumb-horizontal;
}
 
.scrollbarthumb-vertical {
  -webkit-appearance: scrollbarthumb-vertical;
}
 
.scrollbartrack-horizontal {
  -webkit-appearance: scrollbartrack-horizontal;
}
 
.scrollbartrack-vertical {
  -webkit-appearance: scrollbartrack-vertical;
}
 
.hyperlink {
  -webkit-appearance: hyperlink;
}
 
.list-menu {
  -webkit-appearance: list-menu;
}
 
.password {
  -webkit-appearance: password;
}
 
.textarea {
  -webkit-appearance: textarea;
}
 
.textarea {
  -webkit-appearance: textarea;
}
 
.textarea {
  -webkit-appearance: textarea;
}
 
