#main {
  font-family: sans-serif;
}
 
.text {
  color: #666;
  font-family: paytone-one, sans-serif;
  font-size: 2em;
  letter-spacing: 0.15em;
  padding: 10px;
  text-shadow: -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, 1px 1px 0 #f2f2f2, -1px 1px 0 #f2f2f2;
}
 
.text1 {
  background: #666;
}
 
.text2 {
  background: #000;
}
 
.text3 {
  background: #633;
}
 
.text4 {
  background: #060;
}
 
.text5 {
  background: #f36;
}
 
.text6 {
  background: #cf6;
}
 
.text7 {
  background: #cff;
}
 
