#main {
  font-family: sans-serif;
}
 
/* add for example */
#main {
  padding: 20px;
}
 
.box-example {
  margin: 20px;
}
 
/* background */
.box {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)), url("../../img/bg_ocean.jpg");
  background-image: -moz-linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)), url("../../img/bg_ocean.jpg");
  background-image: -o-linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)), url("../../img/bg_ocean.jpg");
  background-image: -ms-linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)), url("../../img/bg_ocean.jpg");
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)), url("../../img/bg_ocean.jpg");
  -webkit-background-size: 100%, cover;
  -moz-background-size: 100%, cover;
  background-size: 100%, cover;
  display: table-cell;
  height: 400px;
  padding: 0 2%;
  width: 600px;
  vertical-align: middle;
}
 
/* text */
.box .text {
  -webkit-background-clip: text;
  background-image: url("../../img/bg_ocean_text.jpg");
  font-family: stencil-std, 'Arial Black', sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1.1;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  text-fill-color: transparent;
}
 
/* icon common style */
.icons span {
  -webkit-background-clip: text;
  font-family: 'FontAwesome';
  font-size: 7em;
  margin: 0 0.1em;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  text-fill-color: transparent;
}
 
/* heart icon */
.fontawesome-heart {
  background-color: #f00;
  background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.4)), -webkit-linear-gradient(left, #f00 50%, #ffc0cb 50%);
  background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.4)), -moz-linear-gradient(left, #f00 50%, #ffc0cb 50%);
  background-image: -o-linear-gradient(transparent, rgba(0,0,0,0.4)), -o-linear-gradient(left, #f00 50%, #ffc0cb 50%);
  background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.4)), -ms-linear-gradient(left, #f00 50%, #ffc0cb 50%);
  background-image: linear-gradient(transparent, rgba(0,0,0,0.4)), linear-gradient(to right, #f00 50%, #ffc0cb 50%);
  content: '';
  height: 7em;
  width: 7em;
}
 
/* star icon */
.fontawesome-star {
  background-color: #ff0;
  background-image: -webkit-linear-gradient(transparent, rgba(255,255,255,0.2)), -webkit-linear-gradient(#ff0 50%, #adff4f 50%);
  background-image: -moz-linear-gradient(transparent, rgba(255,255,255,0.2)), -moz-linear-gradient(#ff0 50%, #adff4f 50%);
  background-image: -o-linear-gradient(transparent, rgba(255,255,255,0.2)), -o-linear-gradient(#ff0 50%, #adff4f 50%);
  background-image: -ms-linear-gradient(transparent, rgba(255,255,255,0.2)), -ms-linear-gradient(#ff0 50%, #adff4f 50%);
  background-image: linear-gradient(transparent, rgba(255,255,255,0.2)), linear-gradient(#ff0 50%, #adff4f 50%);
  -webkit-background-size: 100%, 0.1em;
  -moz-background-size: 100%, 0.1em;
  background-size: 100%, 0.1em;
  content: '';
  height: 7em;
  width: 7em;
}
 
