#main {
  font-family: sans-serif;
}
 
/**
  * normal styles
**/
#main {
  font-family: serif;
}
 
.menu {
  background: #06c;
}
 
/* use box layout */
.box1 .menu .list {
  margin: 0 auto;
  overflow: hidden;
  width: 98%;
}
 
.box1 .menu .item {
  float: left;
  width: 16.6%;
}
 
/* anchor styles */
.box1 .menu a {
  background: #06c;
  color: #eee;
  display: block;
  padding: 0.5em 0;
  text-align: center;
  text-decoration: none;
  text-indent: -0.5em;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
 
.box1 .menu a:hover {
  background: #0045a1;
}
 
/* insert icons */
.box1 .menu a::before {
  font-family: 'entypo', sans-serif;
  padding: 0 0.5em 0 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
 
.box1 .menu a:hover::before {
  color: #4db3ff;
}
 
/**
  * When the screen width is less than 320px,
  * Change layout and make icon size bigger. 
**/
@media screen and (max-width: 320px) {
  .box1 .menu .list {
    display: block;
    overflow: hidden;
    width: 100%;
  }
 
  .box1 .menu .item {
    float: left;
    width: 50%;
  }
 
  .box1 .menu a::before {
    display: block;
    font-size: 4em;
    text-indent: 0.001em;
    margin: 0 0 0.05em;
    width: 100%;
  }
 
}
 
