#main {
  font-family: sans-serif;
}
 
body {
  background: #333;
}
 
.frame {
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 5px solid #efefef;
  height: 200px;
  margin: 20px auto;
  width: 95%;
}
 
.caption {
  background: rgba(255,255,255,0.4);
  display: inline-block;
  padding: 2px 8px 2px 4px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
 
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
 
.contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
 
.w100-h100 {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
 
.w100-hauto {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
 
.wauto-h100 {
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
 
.picture {
  background-image: url("../../img/ship.jpg");
}
 
