#main {
  font-family: sans-serif;
}
 
.image {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
 
.photo {
  width: 100%;
}
 
.photo:hover + .description,
.description:hover {
  display: block;
}
 
.description {
  background-color: rgba(204,153,153,0.4);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.6));
  background-image: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.6));
  background-image: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.6));
  background-image: -ms-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.6));
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.6));
  border: 10px solid rgba(0,0,0,0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  font-size: 0.8em;
  height: 200px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}
 
.description a {
  display: block;
  height: 160px;
  color: #000;
  overflow: hidden;
  text-decoration: none;
}
 
