/* Base element */
.el {
    border: 1px solid #ccc;
    height: 50px;
    transform-origin: 0;
    width: 50px;
}
/* scale */
.larger {
    -webkit-transform-origin: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
}
.smaller {
    -webkit-transform-origin: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
/* rotate */
.rotate-r-10d {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.rotate-l-45d {
    -webkit-transform-origin: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* skew */
.skew-r-0-10d {
    -webkit-transform: skew(0, 10deg);
    transform: skew(0, 10deg);
}
.skew-l-45d-20d {
    -webkit-transform: skew(-45deg, 10deg);
    transform: skew(-45deg, 10deg);
}
/* translate */
.translate-10-20 {
    -webkit-transform: translate(10px, 20px);
    transform: translate(10px, 20px);
}
.translate-20 {
    -webkit-transform: translate(20px);
    transform: translate(20px);
}