#main {
  font-family: sans-serif;
}
 
/* emotions list */
.emotions {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}
 
.emotions-item {
  background: #ff6;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  font-family: pt-sans-narrow, sans-serif;
  text-align: center;
  width: 100%;
}
 
.emotions-item a {
  color: #000;
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  width: 100%;
}
 
/* insert icons */
.emotions-item a::before {
  display: inline-block;
  font-family: 'fontelico', sans-serif;
  width: 100%;
}
 
/* set transition */
.emotions-item a,
.emotions-item a::before {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
 
/* hover styles */
.emotions-item a:hover {
  background: #ff0;
}
 
.emotions-item a:hover::before {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
 
