#main {
  font-family: sans-serif;
}
 
/* container */
.container {
  background-color: #006;
  background-image: -webkit-linear-gradient(rgba(102,0,102,0.4), #006);
  background-image: -moz-linear-gradient(rgba(102,0,102,0.4), #006);
  background-image: -o-linear-gradient(rgba(102,0,102,0.4), #006);
  background-image: -ms-linear-gradient(rgba(102,0,102,0.4), #006);
  background-image: linear-gradient(rgba(102,0,102,0.4), #006);
  counter-reset: count;
  height: 405px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 720px;
}
 
/* count */
.count {
  left: 50%;
  margin: -5em 0 0 -10em;
  position: relative;
  top: 50%;
}
 
/* count number */
.count-item {
  color: #fff;
  counter-increment: count;
  font-family: 'Stalinist One', cursive;
  font-size: 10em;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #cf126e, 0 0 30px #cf126e, 0 0 40px #cf126e, 0 0 50px #cf126e, 0 0 75px #cf126e;
  top: 0;
  width: 2em;
}
 
.count-item::before {
  content: counter(count);
}
 
/* set animation */
.count-item {
  -webkit-animation-name: disappear;
  -moz-animation-name: disappear;
  -o-animation-name: disappear;
  -ms-animation-name: disappear;
  animation-name: disappear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
 
.count-item:nth-child(9) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
 
.count-item:nth-child(8) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}
 
.count-item:nth-child(7) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
 
.count-item:nth-child(6) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}
 
.count-item:nth-child(5) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}
 
.count-item:nth-child(4) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
 
.count-item:nth-child(3) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  -ms-animation-delay: 7s;
  animation-delay: 7s;
}
 
.count-item:nth-child(2) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
}
 
.count-item:nth-child(1) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
 
/* fireworks */
.fireworks {
  left: 0;
  position: absolute;
  top: 0;
}
 
.fireworks-item {
  color: #fff;
  font-family: 'entypo', sans-serif;
  font-size: 10em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
}
 
.fireworks-item:nth-child(1) {
  left: 300px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #cf126e, 0 0 30px #cf126e, 0 0 40px #cf126e, 0 0 50px #cf126e, 0 0 75px #cf126e;
  top: 100px;
}
 
.fireworks-item:nth-child(2n) {
  left: 60px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3f6, 0 0 30px #3f6, 0 0 40px #3f6, 0 0 50px #3f6, 0 0 75px #3f6;
  top: 20px;
}
 
.fireworks-item:nth-child(3n) {
  left: 530px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fc3, 0 0 30px #fc3, 0 0 40px #fc3, 0 0 50px #fc3, 0 0 75px #fc3;
  top: 10px;
}
 
/* set animation */
.fireworks-item {
  -webkit-animation-name: fireworks;
  -moz-animation-name: fireworks;
  -o-animation-name: fireworks;
  -ms-animation-name: fireworks;
  animation-name: fireworks;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  animation-duration: 3s;
}
 
.fireworks-item:nth-child(1) {
  -webkit-animation-delay: 10.5s;
  -moz-animation-delay: 10.5s;
  -o-animation-delay: 10.5s;
  -ms-animation-delay: 10.5s;
  animation-delay: 10.5s;
}
 
.fireworks-item:nth-child(2) {
  -webkit-animation-delay: 11.2s;
  -moz-animation-delay: 11.2s;
  -o-animation-delay: 11.2s;
  -ms-animation-delay: 11.2s;
  animation-delay: 11.2s;
}
 
.fireworks-item:nth-child(3) {
  -webkit-animation-delay: 11.4s;
  -moz-animation-delay: 11.4s;
  -o-animation-delay: 11.4s;
  -ms-animation-delay: 11.4s;
  animation-delay: 11.4s;
}
 
/* animation */
@-moz-keyframes disappear {
  0%, 50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 
}
 
@-webkit-keyframes disappear {
  0%, 50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 
}
 
@-o-keyframes disappear {
  0%, 50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 
}
 
@-ms-keyframes disappear {
  0%, 50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 
}
 
@keyframes disappear {
  0%, 50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 
}
 
@-moz-keyframes fireworks {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 

  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 
}
 
@-webkit-keyframes fireworks {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 

  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 
}
 
@-o-keyframes fireworks {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 

  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 
}
 
@-ms-keyframes fireworks {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 

  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 
}
 
@keyframes fireworks {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
 

  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  40% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
 
}
 
