#main {
  font-family: sans-serif;
}
 
body {
  background: #e8e8e8;
}
 
/* Common settings */
#main {
  position: relative;
}
 
#contents {
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}
 
.menu,
.main {
  min-height: 500px;
  position: absolute;
  top: 35px;
  width: 100%;
}
 
/* Menu */
.menu {
  background: #333;
}
 
.menu-item {
  border-bottom: 1px solid #555;
  height: 2.5em;
  line-height: 2.5;
}
 
.menu-item a {
  color: #ddd;
  display: block;
  padding: 0 10px;
  text-decoration: none;
}
 
.menu-item a:hover {
  background: #464646;
}
 
/* Main contents area */
.main {
  background: #efefef;
  border-top: 1px solid #ddd;
  color: #666;
  display: table-cell;
  font-size: 5em;
  left: 0;
  padding: 40px 0 0;
  text-align: center;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 10;
}
 
/* Menu button */
.openMenu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ccc;
  border: 2px solid #999;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  margin: 5px;
  position: relative;
  width: 25px;
}
 
.openMenu::before {
  color: #333;
  content: "menu";
  font-size: 0.8em;
  left: 27px;
  position: absolute;
  top: 5px;
}
 
.openMenu:checked {
  background: #6f3;
  border: 2px solid #3c0;
}
 
.openMenu:checked ~ .main {
  left: 40%;
}
 
