#main {
  font-family: sans-serif;
}
 
body {
  background: #000;
}
 
.list3d {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  padding: 100px 100px 200px;
}
 
.list3d-item {
  background: #999;
  box-reflect: below -3px linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5));
  -webkit-box-reflect: below -3px -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5));
  height: 100px;
  margin: 0 -20px;
  position: relative;
  -webkit-transform: perspective(200px) rotateY(45deg);
  -moz-transform: perspective(200px) rotateY(45deg);
  -o-transform: perspective(200px) rotateY(45deg);
  -ms-transform: perspective(200px) rotateY(45deg);
  transform: perspective(200px) rotateY(45deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  width: 100px;
}
 
.list3d-item img {
  width: 100px;
}
 
.list3d-item:hover {
  margin: 0 20px;
  position: relative;
  -webkit-transform: perspective(200px) rotateY(0) scale(1.5);
  -moz-transform: perspective(200px) rotateY(0) scale(1.5);
  -o-transform: perspective(200px) rotateY(0) scale(1.5);
  -ms-transform: perspective(200px) rotateY(0) scale(1.5);
  transform: perspective(200px) rotateY(0) scale(1.5);
  z-index: 2;
}
 
