#main {
  font-family: sans-serif;
}
 
/* common styles */
.graph {
  margin: 30px;
  font-family: sans-serif;
}
 
/* stacked bar */
.stacked-bar-graph {
  background: #eee;
  overflow: hidden;
  position: relative;
}
 
/* hide bar */
.stacked-bar-graph::before {
  background: #fff;
  content: '';
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  top: 0;
}
 
/* set animation */
.stacked-bar-graph::before {
  -webkit-animation-name: x0to1;
  -moz-animation-name: x0to1;
  -o-animation-name: x0to1;
  -ms-animation-name: x0to1;
  animation-name: x0to1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}
 
/* animation */
/* bar styles */
.stacked-bar-item {
  background: #f93;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #eee;
  float: left;
  font-size: 0.8em;
  overflow: hidden;
  padding: 0.05em;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 
.stacked-bar-item:not(:last-child) {
  border-right: 2px solid #fff;
}
 
@-moz-keyframes x0to1 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
 
}
 
@-webkit-keyframes x0to1 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
 
}
 
@-o-keyframes x0to1 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
 
}
 
@-ms-keyframes x0to1 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
 
}
 
@keyframes x0to1 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
 

  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
 
}
 
